.top-menu {
  background: #0a5640;
  padding: 2px 15px;
  color: #ffc82e;
  font-size: 3rem;
  text-align: center;
}

.courses {
  max-width: 500px;
  margin: 50px auto;
}

img {
  background-color: #0a5640;
}

course-card {
  display: block;
}

.course-card {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.course-card .course-title {
  font-size: 25px;
  font-weight: bold;
}

.course-card .course-description {
  max-width: 360px;
  margin: 0 auto;
  font-size: 1.2rem;
  user-select: none;
}

.course-card img {
  border-radius: 4px;
  margin: 10px;
}
